<div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="https://github.com/{{ site.github }}" class="pure-menu-link">Github</a></li>
                        <li class="pure-menu-item"><a href="https://twitter.com/{{ site.twitter }}" class="pure-menu-link">Twitter</a></li>
                        <li class="pure-menu-item"><p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
