---
layout: default
---
<div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">

                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">

                        <h2 class="post-title">{{ page.title }}</h2>

                        <p class="post-meta">
                            {% if page.author %} By {{ page.author }} {% endif %}
                        </p>
                    </header>

                    <div class="post-description">
												{{ content }}
                    </div>
                </section>
            </div>
