---
layout: default
---
<div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">{{ page.date | date: "%b %-d, %Y" }}</h1>

                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                        <img class="post-avatar" height="48" width="48" src="{{site.baseurl}}{{ post.url }}/img/me.jpg">

                        <h2 class="post-title">{{ page.title }}</h2>

                        <p class="post-meta">
                            {% if page.author %} By {{ page.author }} {% endif %}
                        </p>
                    </header>

                    <div class="post-description">
												{{ content }}
                    </div>
                </section>
            </div>
